/* Importa a fonte Chakra Petch do Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Estiliza o corpo da página */
* {
  margin: 0;
  padding: 0;
}

.pagina {
  background-color: #f2bb05;
  font-family: "Chakra Petch", sans-serif; /* Define a fonte padrão */
  display: flex; /* Usa Flexbox para layout */
  flex-direction: row; /* Alinha os itens na vertical */
  align-items: center; /* Centraliza os itens horizontalmente */
  justify-content: center; /* Centraliza os itens verticalmente */
  margin: 0;
  padding: 0;
}

/* Estiliza os títulos h1 */
h1 {
  margin-top: 20px;
  padding-bottom: 20px;
  font-size: 2.5rem; /* Tamanho da fonte */
  color: #f6f6f6; /* Cor do texto */
  text-align: center; /* Alinha o texto ao centro */
  letter-spacing: 0.4rem; /* Espaçamento entre letras */
}

.barra-pesquisa {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.barra-pesquisa::before {
  content: "\f002"; /* Ícone de lupa do Font Awesome */
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.div-resultados {
  background-image: url("./img/fundo.png");
  font-family: "Chakra Petch", sans-serif; /* Define a fonte padrão */
  display: flex; /* Usa Flexbox para layout */
  flex-direction: column; /* Alinha os itens na vertical */
  align-items: center; /* Centraliza os itens horizontalmente */
  justify-content: center; /* Centraliza os itens verticalmente */
  margin: 0;
  padding: 0;
  min-height: 700px;
}

/* Estiliza as seções da página */
section {
  display: flex; /* Usa Flexbox para layout */
  flex-direction: column; /* Alinha os itens na vertical */
  align-items: center; /* Centraliza os itens horizontalmente */
  margin-bottom: 3rem; /* Espaçamento abaixo de cada seção */
}

/* Estiliza os inputs dentro das seções */
section input {
  border: none; /* Remove a borda padrão */
  padding: 1rem; /* Espaçamento interno */
  padding-right: 200px;
  border-radius: 1.5rem; /* Borda arredondada */
  color: #45474b; /* Cor do texto */
  font-size: 1rem; /* Tamanho da fonte */
  box-sizing: border-box; /* Inclui padding e border na largura total */
}

/* Estiliza os botões dentro das seções */
section button {
  padding: 0.8rem 1.2rem; /* Espaçamento interno do botão */
  border: none; /* Remove a borda padrão */
  border-radius: 1.5rem; /* Borda arredondada */
  background-color: #018f08; /* Cor de fundo do botão */
  color: #f5f7f8; /* Cor do texto do botão */
  font-size: 1rem; /* Tamanho da fonte */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
  display: flex; /* Usa Flexbox para layout */
  flex-direction: column; /* Alinha os itens na vertical */
  align-items: center; /* Centraliza os itens horizontalmente */
  justify-content: center; /* Centraliza os itens verticalmente */
  margin: 2rem auto; /* Centraliza a seção horizontalmente */
  padding: 1rem;
  border-radius: 0.6rem;
}

@media (max-width: 768px) {
  .resultados-pesquisa {
    height: 80vh;
    margin: 1rem;
  }
}

/* Estiliza cada item de resultado */
.item-resultado {
  background: #ffffff; /* Cor de fundo dos itens */
  border-radius: 0.6rem; /* Borda arredondada */
  padding: 2rem; /* Espaçamento interno */
  margin-bottom: 1rem; /* Espaçamento abaixo dos itens */

  display: flex; /* Usa Flexbox para layout */
  flex-direction: row; /* Alinha os itens na vertical */
  align-items: start;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 20px 20px rgba(81, 81, 81, 0.458);
}

/* Para telas menores (celulares) */
@media (max-width: 768px) {
  .item-resultado {
    flex-direction: column;
    width: 80%;
  }
}

/* A própria imagem */
.dado-imagem {
  width: 300px;
  padding: 30px 30px 0px 0px;
}

.numero-nome-time {
  display: flex; /* Usa Flexbox para layout */
  flex-direction: row; /* Alinha os itens na vertical */
  align-items: start;
  margin-bottom: 20px;
}

#numero {
  font-size: 4rem;
  color: #00ff26;
}

#nome {
  font-size: 2.3rem;
}

.logo-time {
  width: 40px;
  height: 40px;
}

.link-pagina {
  display: flex; /* Usa Flexbox para layout */
  flex-direction: row; /* Alinha os itens na vertical */
  align-items: center;
}

.div-info {
  text-align: start;
  padding-top: 30px;
  font-size: 1rem;
  flex: 1;
}

#info {
  font-size: 0.9rem;
  font-weight: 300;
  padding-bottom: 10px;
  flex: 1;
}

/* Estiliza os links dentro dos itens de resultado */
.item-resultado a {
  text-decoration: none; /* Remove o sublinhado padrão dos links */
  color: #fcfcfc; /* Cor do texto dos links */
}

/* Estiliza os links quando são passados o mouse sobre */
.item-resultado a:hover {
  text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

/* Estiliza a descrição meta dentro dos itens de resultado */
.descricao-meta {
  color: #45474b; /* Cor do texto */
  margin: 0.5rem 0; /* Margem acima e abaixo */
}

.video-sessao {
  background-color: #45474b;
  padding: 30px;
  display: flex; /* Usa Flexbox para layout */
  flex-direction: column; /* Alinha os itens na vertical */
  align-items: center;
}

#video {
  padding: 50px;
}

footer {
  background-color: #f5f7f8; /* Cor de fundo do rodapé */
  color: #45474b; /* Cor do texto */
  align-items: center;
  text-align: center; /* Alinha o texto ao centro */
  padding-top: 40px; /* Espaçamento interno */
  padding-bottom: 30px;
  width: 100%; /* Largura total da página */
  bottom: 0; /* Alinha ao fundo da página */
  font-size: 1rem; /* Tamanho da fonte */
}

.audio {
  background-color: #f5f7f8;
  display: flex; /* Usa Flexbox para layout */
  flex-direction: column; /* Alinha os itens na vertical */
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}
