/* Importa a fonte Chakra Petch do Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Estiliza o corpo da página */
* {
  margin: 0;
  padding: 0;
}

.pagina {
  font-family: "Chakra Petch", sans-serif; /* Define a fonte padrão */
  display: flex; /* Usa Flexbox para layout */
  flex-direction: column;
  background-color: #202020;
  background-size: cover;
  min-height: 100vh;
  padding-top: 15px;
}

header {
  align-items: center;
  justify-content: end;
  text-align: center;
}

/* Estiliza os títulos h1 */
h1 {
  font-size: 2.8rem; /* Tamanho da fonte */
  color: #f6f6f6; /* Cor do texto */
  text-align: center; /* Alinha o texto ao centro */
  letter-spacing: 0.4rem; /* Espaçamento entre letras */
}

/* Estiliza as seções da página */
section {
  display: flex; /* Usa Flexbox para layout */
  flex-direction: row; /* Alinha os itens na vertical */
  align-items: center; /* Centraliza os itens horizontalmente */
  margin-bottom: 3rem; /* Espaçamento abaixo de cada seção */
  justify-content: center;
  margin-top: 40px;
}

/* Estiliza os inputs dentro das seções */
section input {
  margin: 0;
  min-width: 500px;
  border: none; /* Remove a borda padrão */
  padding: 1rem; /* Espaçamento interno */
  padding-right: 200px;
  border-radius: 1.5rem; /* Borda arredondada */
  color: #45474b; /* Cor do texto */
  font-size: 1rem; /* Tamanho da fonte */
  box-sizing: border-box; /* Inclui padding e border na largura total */
  position: absolute;
}

/* Estiliza os botões dentro das seções */
section {
  & .pagina__btn {
    padding: 1rem 1.2rem; /* Espaçamento interno do botão */
    position: relative;
    right: -200px;
  }

  & button {
    padding: 1rem 2rem; /* Espaçamento interno do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 1.5rem; /* Borda arredondada */
    background-color: #018f08; /* Cor de fundo do botão */
    color: #f5f7f8; /* Cor do texto do botão */
    font-size: 1rem; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    z-index: 1;
    position: relative;
    right: 280px;
  }
}

.div-resultados {
  font-family: "Chakra Petch", sans-serif; /* Define a fonte padrão */
  display: flex; /* Usa Flexbox para layout */
  flex-direction: column; /* Alinha os itens na vertical */
  align-items: center; /* Centraliza os itens horizontalmente */
  justify-content: start; /* Centraliza os itens verticalmente */
  height: 600px;
  overflow-y: auto;
}

/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
  display: flex; /* Usa Flexbox para layout */
  flex-direction: column; /* Alinha os itens na vertical */
  align-items: center; /* Centraliza os itens horizontalmente */
  justify-content: center; /* Centraliza os itens verticalmente */
  margin: auto; /* Centraliza a seção horizontalmente */
  gap: 30px;
}

/* Estiliza cada item de resultado */
.item-resultado {
  background: #e6e6e6; /* Cor de fundo dos itens */
  border-radius: 0.6rem; /* Borda arredondada */
  padding: 2rem; /* Espaçamento interno */
  margin-bottom: 1rem; /* Espaçamento abaixo dos itens */
  display: flex; /* Usa Flexbox para layout */
  align-items: start;
  width: 60%;
  flex-wrap: wrap;
  box-shadow: 0 20px 20px rgba(81, 81, 81, 0.458);
}

/* Estiliza os links dentro dos itens de resultado */
.item-resultado a {
  text-decoration: none; /* Remove o sublinhado padrão dos links */
  color: #fcfcfc; /* Cor do texto dos links */
}

/* Estiliza os links quando são passados o mouse sobre */
.item-resultado a:hover {
  text-decoration: none; /* Adiciona sublinhado ao passar o mouse */
}

/* A própria imagem */
.dado-imagem {
  max-width: 300px;
  min-width: 260px;
  max-height: 450px;
  padding: 30px 30px 0px 0px;
}

.numero-nome-time {
  display: flex; /* Usa Flexbox para layout */
  flex-direction: row; /* Alinha os itens na vertical */
  align-items: start;
  margin-bottom: 20px;
}

#numero {
  font-size: 4rem;
  color: #00ff26;
}

#nome {
  font-size: 2.3rem;
  color: #202020;
}

.logo-time {
  width: 40px;
  height: 40px;
}

.link-pagina {
  display: flex; /* Usa Flexbox para layout */
  flex-direction: row; /* Alinha os itens na vertical */
  align-items: center;
}

.div-info {
  text-align: start;
  padding-top: 30px;
  font-size: 1rem;
  flex: 1;
}

#info {
  font-size: 0.9rem;
  font-weight: 300;
  padding-bottom: 10px;
  flex: 1;
}

/* Estiliza a descrição meta dentro dos itens de resultado */
.descricao-meta {
  color: #45474b; /* Cor do texto */
  margin: 0.5rem 0; /* Margem acima e abaixo */
}

.video-sessao {
  background-color: #2a2a2b;
  padding: 30px;
  display: flex; /* Usa Flexbox para layout */
  flex-direction: column; /* Alinha os itens na vertical */
  align-items: center;
}

#video {
  padding: 50px;
}

footer {
  background-color: #2a2a2b;
  color: #c2c2c2; /* Cor do texto */
  align-items: center;
  text-align: center; /* Alinha o texto ao centro */
  padding-top: 40px; /* Espaçamento interno */
  padding-bottom: 30px;
  width: 100%; /* Largura total da página */
  bottom: 0; /* Alinha ao fundo da página */
  font-size: 1rem; /* Tamanho da fonte */
}

.audio {
  background-color: #f5f7f8;
  display: flex; /* Usa Flexbox para layout */
  flex-direction: column; /* Alinha os itens na vertical */
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

/* Para telas menores (celulares) */
@media (max-width: 768px) {
  .content {
    background-image: url(./img/fundos-site__mobile.png);
    min-height: 100vh;
  }

  .pagina {
    font-family: "Chakra Petch", sans-serif; /* Define a fonte padrão */
    display: flex; /* Usa Flexbox para layout */
    align-items: center;
    flex-direction: column; /* Alinha os itens na vertical */

    & h1 {
      font-size: 1.6rem;
    }
  }

  .barra-pesquisa {
    margin: 20px 20px 15px 20px;
    & input {
      padding: 15px 20px;
      font-size: 15px;
      margin: 0;
      min-width: 80px;
    }

    & button {
      width: 100px;
      font-size: 15px;
      right: 0px;
      bottom: -60px;
      padding: 15px 20px;
      margin: 10px;
    }
  }

  .div-resultados {
    font-family: "Chakra Petch", sans-serif; /* Define a fonte padrão */
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    padding-block: 50px;
    height: max-content;
    overflow-y: none;
  }

  .item-resultado {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0;
    font-size: 10px;
    padding: 1rem; /* Espaçamento interno */
  }

  .dado-imagem {
    padding: 0;
    width: 50%;
    margin: 10px;
  }

  .numero-nome-time {
    display: flex; /* Usa Flexbox para layout */
    flex-direction: row; /* Alinha os itens na vertical */
    align-items: start;
    margin-bottom: 20px;
    text-align: center;

    & #numero {
      font-size: 40px;
    }

    & #nome {
      font-size: 30px;
    }
  }

  .div-info {
    text-align: start;
    padding-top: 30px;
    font-size: 0.6rem;
    flex: 1;
  }

  #video {
    margin: 0;
    padding: 0;
    width: 360px;
    height: 200px;
  }

  footer {
    font-size: 0.7rem; /* Tamanho da fonte */
  }
}
