/* Importa a fonte Chakra Petch do Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Estiliza o corpo da página */
* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  outline: none;
}

.architects-daughter-regular {
  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  font-style: normal;
}

/*ESTILIZAÇÃO DA DIV GERAL /////////////////////////////////////////////////////////*/
.pagina {
  font-family: "Chakra Petch", sans-serif;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.664), rgba(0, 0, 0, 0.664)),
    url(https://forbes.com.br/wp-content/uploads/2019/06/listas-jogadores-futebol-180619-getty-VI-Images.jpg);
  background-size: cover;
  width: 100%;
  overflow: hidden;
}

/*ESTILIZAÇÃO DO CABEÇALHO DA PÁGINA /////////////////////////////////////////////////////////*/
header {
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  padding-top: 2rem;
  font-size: 2.8rem;
  color: #f6f6f6;
  text-align: center;
  letter-spacing: 0.4rem;
}

section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin-block: 3rem;
  justify-content: center;
}

.barra-pesquisa {
  position: relative;

  & input {
    width: 32vw;
    padding: 0.875rem;
    font-size: 1rem;
    border-radius: 1.5rem;
    border: none;
    outline: none;
  }
}

button {
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.pagina__btn {
  padding: 0.9rem 1.2rem;
  background-color: #018f08;
  color: #f5f7f8;
  font-weight: bold;
  border-radius: 1.5rem;
  position: absolute;
  right: 0;
  z-index: 1;
}

.pagina__btn:hover {
  opacity: 0.9;
}

ul {
  display: flex;
  gap: 6rem;
  list-style: none;
}

.btn-nav {
  color: #cacaca;
  font-weight: 600;
  background-color: transparent;
  text-decoration: underline;
}

.resultados {
  display: flex;
  flex-direction: row;
}

.btnTopo {
  background-color: #272727;
  color: white;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 10s ease-in-out;
  position: fixed;
  bottom: 20px;
  right: 20px;
  justify-content: center;
  align-items: center;

  & i {
    font-size: 40px;
  }
}

.btnTopo:hover {
  background-color: #818181;
}

/*BARRA DE SCROLL //////////////////////////////////////////////////////////////////////////*/

/* Personaliza a cor da barra de rolagem */
::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888; /* Cor do "polegar" da barra de rolagem */
  border-radius: 6px; /* Borda arredondada do polegar */
  height: 40px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b2b2b2; /* Cor do polegar ao passar o mouse */
}

/*ESTILIZAÇÃO DO ESPAÇO QUE APARECE OS RESULTADOS /////////////////////////////////////////////////////////*/

.div-resultados {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  padding: 0 3rem;
  scroll-behavior: smooth;
}

.resultados-pesquisa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  max-width: 55vw;
  gap: 30px;
}

.btn-mostrar-mais {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background: none;
  color: #fff;
}

.sem-resultados {
  color: red;
  font-weight: bold;
  text-align: center;
}

#p-resultados {
  padding-top: 50px;
  color: #fff;
  width: 390px;
}

#img-resultados {
  width: 170px;
}

/*DIV DOS RESULTADOS DOS JOGADORES /////////////////////////////////////////////////////////*/
.container-loading {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: linear-gradient(rgba(0, 0, 0, 0.664), rgba(0, 0, 0, 0.664)),
    url(https://forbes.com.br/wp-content/uploads/2019/06/listas-jogadores-futebol-180619-getty-VI-Images.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
}

.jogador {
  position: relative;
  font-family: "Architects Daughter", serif;
  background-image: url(/img__fundos/Fundo_resultado.png);
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem 4rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 80vw;
  gap: 1rem;
}

.jogador a {
  text-decoration: none;
}

.jogador a:hover {
  text-decoration: underline;
  color: #323232;
}

.div-superior {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.div-left div {
  position: relative;
  display: flex;
  flex: 1;
  height: fit-content;
  margin: 1rem 1rem 1rem 0;
}

.cards {
  perspective: 500px;
}

.card {
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform 0.5s;
  rotate: 1deg;
}

.card:hover {
  transform: translateZ(6px) rotateX(5deg) rotateY(5deg);
}

.dado-imagem-background {
  position: absolute;
  top: -10px;
  left: -18px;
  width: 115%;
  z-index: 1;
}

.img-grampo {
  position: absolute;
  left: 80px;
  top: -17px;
  width: 60px;
  z-index: 10;
}

.dado-imagem {
  object-fit: cover;
  width: 300px;
  height: 400px;
  z-index: 2;
  opacity: 0.95;
}

.dado_imgMarca {
  position: absolute;
  bottom: 0;
  right: 40px;
  max-height: 200px;
  height: 100%;
  object-fit: contain;
  object-position: bottom;
  max-width: 250px;
  opacity: 0.95;
  z-index: 12;
}

.img-superior,
.img-inferior {
  position: absolute;
}

.img-superior {
  bottom: 0;
  left: -1.5px;
  max-width: 150px;
  z-index: 10;
}

.img-inferior {
  bottom: -14px;
  left: -14px;
  max-width: 90px;
  z-index: 11;
}

.div-info {
  font-weight: 400;
  font-style: normal;
  text-align: start;
  font-size: 1rem;
  flex: 2;
}

.numero-nome-nacionalidade {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-bottom: 20px;
  gap: 10px;
}

.numero {
  font-size: 4rem;
  color: #202020;
}

#nome {
  font-size: 2.3rem;
  color: #202020;
}

.nacionalidade {
  object-fit: cover;
  width: 50px;
}

#info {
  font-size: 0.9rem;
  font-weight: 300;
  padding-bottom: 10px;
}

.descricao-meta {
  color: #45474b;
  margin: 0.5rem 0;
}

.clubes-tecnicos {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: start;
  align-items: center;
}

/* TABELA DE TITULOS /////////////////////////////////////////////////////////////////////////*/
.conteudo-oculto {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 0.5s cubic-bezier(0.65, 0.65, 0.35, 1),
    opacity 0.3s ease-in;
}

.conteudo-oculto.aberto {
  height: auto;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: start;
  gap: 1rem;
  width: 100%;
  margin-top: 70px;
}

.tabelas {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin-bottom: 40px;
}

th {
  font-size: 20px;
  color: red;
  border-top: 1px solid #000000;
}

td {
  font-size: 14px;
}

th,
td {
  padding: 8px;
  text-align: center;
  justify-content: center;
}

.tabela-titulos,
.tabela-estatisticas {
  width: 100%;
}

.tabelas-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  width: 100%;
  gap: 1rem;
}

.tabelas-right {
  display: flex;
  flex: 1;
  justify-content: center;
  width: 100%;
}

.item-titulo {
  position: relative;
  justify-content: center;
  align-items: center;
}

.img-titulo img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.img-titulo:hover {
  .titulo-status-img {
    display: flex;

    & img {
      width: 150px;
      height: 150px;
      object-fit: contain;
    }
  }
}

.titulo-status-img {
  position: absolute;
  top: -60px;
  left: 80px;
  width: auto;
  height: auto;
  display: none;
  background-image: url(/img__fundos/Fundo_Titulo.png);
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.458));
  padding: 35px 40px 40px 25px;
  border-radius: 6px;
  z-index: 100;
}

.campeonato {
  object-fit: cover;
  max-height: 55px;
  max-width: 45px;
}

.div-clube {
  position: relative;
  cursor: pointer;
}

.div-clube:hover {
  .clube-status {
    display: flex;
  }
}

.clubes {
  max-height: 35px;
  max-width: 50px;
  padding-inline: 5px;
  margin-block: 5px;
}

.clube-status {
  position: absolute;
  top: -100px;
  right: -140px;
  display: none;
  flex-direction: column;
  gap: 5px;
  background-image: url(/img__fundos/Fundo_Info.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: max-content;
  min-width: 160px;
  max-width: 250px;
  padding: 30px;
  z-index: 100;
  rotate: 3deg;
  transition: 0.4s ease-in-out;

  h3 {
    font-size: 16px;
  }
}

.mostrar-esconder {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  gap: 10px;
  z-index: 10;
}

.mostrar-esconder:hover {
  opacity: 0.8;
}

/*DIV DOS RESULTADOS DOS CLUBES E SELEÇÕES /////////////////////////////////////////////////////////*/

.dado-imagem-selecao {
  width: 220px;
  max-height: 350px;
  padding: 15px 30px 0px 0px;
  text-align: center;
}

.dado-imagem-clube-selecao {
  height: 240px;
}

#sub-info {
  font-size: 0.9rem;
  font-weight: 600;
  padding-bottom: 10px;
  color: #818181;
  flex: 1;
}

/*ESTILIZAÇÃO DO FOOTER /////////////////////////////////////////////////////////*/
footer {
  background-color: transparent;
  color: #c2c2c2;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
  width: 100%;
  bottom: 0;
  font-size: 1rem;
}

/*ESTILIZAÇÃO DA CLASSE /////////////////////////////////////////////////////////*/

.dado-imagem-background {
  filter: drop-shadow(2px 4px 5px rgba(40, 40, 40, 0.6));
}

#gold {
  filter: drop-shadow(0 0 5px rgba(255, 217, 28, 0.458));

  & h2 {
    color: #bf930d;
  }
}

#diamond {
  filter: drop-shadow(0 0 5px rgba(42, 216, 255, 0.458));

  & h2 {
    color: #13d6f0;
  }
}

#titanium {
  filter: drop-shadow(0 0 5px rgba(60, 60, 60, 0.6));

  & h2 {
    color: #4d4d4d;
  }
}

#plate {
  filter: drop-shadow(0 0 5px rgba(202, 202, 202, 0.867));

  & h2 {
    color: #6d6d6d;
  }
}

#promise {
  filter: drop-shadow(0 0 5px rgba(147, 255, 150, 0.803));

  & h2 {
    color: #16e903;
  }
}

#default {
  filter: drop-shadow(0 0 5px rgba(42, 42, 42, 0.458));
}

#red {
  filter: drop-shadow(0 0 5px rgba(181, 23, 23, 0.718));

  & .div-superior .div-left .dado-imagem-clube-selecao {
    filter: drop-shadow(0 0 2px rgba(181, 23, 23, 0.718));
  }
}

#yellow {
  filter: drop-shadow(0 0 5px rgba(201, 186, 51, 0.711));

  & .div-superior .div-left .dado-imagem-clube-selecao {
    filter: drop-shadow(0 0 2px rgba(201, 186, 51, 0.711));
  }
}

#green {
  filter: drop-shadow(0 0 5px rgba(45, 182, 65, 0.711));

  & .div-superior .div-left .dado-imagem-clube-selecao {
    filter: drop-shadow(0 0 2px rgba(45, 182, 65, 0.711));
  }
}

#purple {
  filter: drop-shadow(0 0 5px rgba(182, 45, 72, 0.711));

  & .div-superior .div-left .dado-imagem-clube-selecao {
    filter: drop-shadow(0 0 2px rgba(182, 45, 72, 0.711));
  }
}

#blue {
  filter: drop-shadow(0 0 5px rgba(59, 45, 182, 0.711));

  & .div-superior .div-left .dado-imagem-clube-selecao {
    filter: drop-shadow(0 0 2px rgba(59, 45, 182, 0.711));
  }
}

#golden {
  filter: drop-shadow(0 0 5px rgba(182, 141, 45, 0.711));

  & .div-superior .div-left .dado-imagem-clube-selecao {
    filter: drop-shadow(0 0 2px rgba(182, 141, 45, 0.711));
  }
}

#highGreen {
  filter: drop-shadow(0 0 5px rgba(45, 182, 104, 0.711));

  & .div-superior .div-left .dado-imagem-clube-selecao {
    filter: drop-shadow(0 0 2px rgba(45, 182, 104, 0.711));
  }
}

#black {
  filter: drop-shadow(0 0 5px rgba(181, 181, 181, 0.711));

  & .div-superior .div-left .dado-imagem-clube-selecao {
    filter: drop-shadow(0 0 2px rgba(181, 181, 181, 0.711));
  }
}

#lightBlue {
  filter: drop-shadow(0 0 5px rgba(30, 141, 197, 0.711));

  & .div-superior .div-left .dado-imagem-clube-selecao {
    filter: drop-shadow(0 0 2px rgba(30, 141, 197, 0.711));
  }
}

/* Para telas até 1250px ////////////////////////////////////////////////////////*/
@media (max-width: 1290px) {
  .jogador {
    width: 80vw;
    max-width: 850px;
  }
}

/* Para telas um pouco menores (tablets) ////////////////////////////////////////////////////////*/
@media (max-width: 860px) {
  .container-loading {
    background-position: center;
  }

  .pagina {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1 {
    font-size: 1.6rem;
  }

  .barra-pesquisa {
    & input {
      width: 75vw;
    }
  }

  ul {
    gap: 3rem;
  }

  .div-superior {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #p-resultados {
    width: 80vw;
  }

  .jogador {
    width: 80vw;
    max-width: 600px;
    padding: 2rem 2rem;
  }

  .img-grampo {
    left: 200px;
    top: -17px;
  }

  .img-superior {
    width: 140px;
  }

  .img-inferior {
    max-height: 90px;
    max-width: 85px;
  }

  .numero-nome-time {
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
  }

  #numero {
    font-size: 40px;
  }

  #nome {
    font-size: 30px;
  }

  .div-info {
    text-align: start;
    font-size: 1rem;
    flex: 2;
    max-width: 80vw;
  }

  .tabelas {
    flex-direction: column;
  }

  .tabelas-jogador {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  table {
    padding-top: 80px;
    font-size: 0.8rem;
    width: 100%;
    max-width: 600px;
  }

  .tabelas-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .campeonato {
    width: 30px;
  }

  footer {
    font-size: 0.7rem;
  }
}

/* Para telas menores (celulares) ////////////////////////////////////////////////////////*/
@media (max-width: 568px) {
  .pagina {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1 {
    font-size: 1.6rem;
  }

  .barra-pesquisa {
    & input {
      width: 75vw;
    }
  }

  ul {
    gap: 2rem;
  }

  .div-superior {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  th {
    padding-bottom: 2rem;
  }

  #p-resultados {
    width: 80vw;
  }

  .jogador {
    width: 80vw;
    margin: 0;
    padding: 1.5rem;
  }

  .img-grampo {
    left: 100px;
    top: -15px;
    width: 50px;
  }

  .dado_imgMarca {
    max-height: 150px;
    max-width: 200px;
    position: absolute;
  }

  .dado-imagem {
    width: 250px;
    height: 320px;
  }

  .numero-nome-time {
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
  }

  #numero {
    font-size: 40px;
  }

  #nome {
    font-size: 30px;
  }

  .div-info {
    font-family: "Architects Daughter", serif;
    text-align: start;
    padding-top: 0px;
    font-size: 1rem;
    flex: 2;
    max-width: 80vw;
  }

  .tabelas {
    flex-direction: column;
  }

  .tabelas-jogador {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  table {
    padding-top: 80px;
    font-size: 0.8rem;
    width: 100%;
  }

  .item-titulo {
    justify-content: center;
    align-items: center;
    min-height: 70px;
    height: auto;
  }

  .campeonato {
    width: 30px;
  }

  footer {
    font-size: 0.7rem;
  }
}
